.app-header {
    background-color: rgb(8, 79, 45);
    color: white;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
}


.header .logo {
    height: 26px;
    margin-top: 1px;
    max-width: 10px;
}